@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	position:relative;
	list-style-type:none;/*清除li带来的点*/
}
body{
	background:#88f;
	background:#000 url(../bg.jpg) center 0;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: "微软雅黑";
}
#dh{
	width: 800px;
	margin: 0 auto;
}
#dh{
	background-color: rgba(200,128,255,0.9);
	line-height: 29px;
}
#dh a{
	padding:5px;
}

#h{
	background:#000;
	width:100%;
	color:#fff;
	position: fixed;
	height:29px;
	line-height: 29px;
	font-size: 15px;
	z-index:100;
}
#h div{
	margin:0 auto;
	width:800px;
}
#user{
	float:right;
}
#main{
	margin:0 auto;
	overflow:hidden;
	width:800px;
}
.h{
	background:#08f;
	padding: 5px;
}
.h span a{
	float: right;
}
.my_text{
	background:rgba(255,255,255,0.5);
}
.left{
	float: left;
	width:80%;
}
.left_div{
	margin-top:4px;
	background:rgba(255,255,255,0.5);
}
.right_div{
	width:19%;
	float:right;
	margin-top:4px;
	background:rgba(255,255,255,0.5);
}
.right{
	float:right;
	width:19%;
}
.right_div div{
	padding: 5px;
}
.right .right_div{
	width:100%;
}
.fanye{
	text-align:center;
}
footer{
	text-align:center;
	margin: 29px;
	color: #08F;
	text-shadow:1px 0px 1px #E6E8FA, 0px 1px 1px #E6E8FA, 0px -1px 1px #E6E8FA, -1px 0px 1px #E6E8FA;
}
a,a:active,a:hover,a:visited{
	color:#000;
	text-decoration: none;
}
.type,.type:active,.type:hover,.type:visited{
	color:#05A;
}