@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	position:relative;
	list-style-type:none;/*清除li带来的点*/
	color: #b0bdd0;
}
body{
	background:#88f;
	background:#000 url(../bg.jpg) center 0;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: "微软雅黑";
}
#dh{
	width: 800px;
	margin: 0 auto;
}
#dh{
	background-color: rgba(7,26,55,0.9);
	line-height: 29px;
	text-align: center;
}
#dh a{
	display: inline-block;
	padding:15px;
}

#h{
	background:#000;
	width:100%;
	color:#fff;
	position: fixed;
	height:29px;
	line-height: 29px;
	font-size: 15px;
	z-index:100;
}
#h div{
	margin:0 auto;
	width:800px;
}
#user{
	float:right;
}
#main{
	margin:0 auto;
	overflow:hidden;
	width:800px;
}
.h{
	/*background:#08f;*/
	padding: 16px;
	border-bottom: 1px outset #b0bdd0;
}
.h span a{
	float: right;
}
.my_text{
	background:rgba(7,26,55,0.9);
}
.left{
	float: left;
	width:79%;
}
.left_div{
	margin-top:16px;
	background:rgba(7,26,55,0.9);
	border-radius: 2px;
	overflow: hidden;
}
.left_div img{
	-webkit-filter: brightness(0.9);
	filter: brightness(0.9);
}
.right_div{
	width:19%;
	float:right;
	margin-top:16px;
	background:rgba(7,26,55,0.9);
}
.right{
	float:right;
	width:19%;
}
.right_div div{
	padding: 16px;
}
.right .right_div{
	width:100%;
}
.fanye{
	text-align:center;
	line-height: 50px;
}
footer #f{
	text-align:center;
	margin: 29px;
	color: #08F;
	/*text-shadow:1px 0px 1px #E6E8FA, 0px 1px 1px #E6E8FA, 0px -1px 1px #E6E8FA, -1px 0px 1px #E6E8FA;*/
	text-shadow:1px 0px 1px #73746F, 0px 1px 1px #73746F, 0px -1px 1px #73746F, -1px 0px 1px #73746F;
}
a,a:active,a:hover,a:visited{
	/*color:#000;*/
	text-decoration: none;
}
.type,.type:active,.type:hover,.type:visited{
	color:#38547b;
}