@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
	position: relative;
	list-style-type:none;
}
body{
	/*background:#9CE;*/
	background: linear-gradient(#08F 5%,#9CE  40%);
	background-attachment:fixed;
}
a,a:active,a:hover,a:visited{
	color:#000;
	text-decoration: none;
}
.block{
	margin:11px;
	box-shadow:5px 5px 11px 1px #99A;
	background:rgba(255,255,255,0.7);
	padding:5px;
	border-radius: 5px;
}
#h{
	padding:4px 5px;
	background:#000;
	color:#FFF;
	font-size:20px
}
.nofile{
	text-align:center;
	border:2px outset #08F;
	padding:2px;margin:2px;
}
#dh{
	overflow:hidden;
	background:rgba(0,0,0,0.1);
	height:0px;
	box-shadow:0 0 10px 4px rgba(0,0,0,0.5) inset;
	/*border: 1px groove #444;*/
}
#dh a{
	display:block;
	padding:5px 9px;
	border:1px groove rgba(0,0,0,0.5);
	box-shadow:0 0 10px 4px rgba(0,0,0,0.5) inset;
}
#important_tell{
	margin:11px 2px;
	color:#88F;
}
#list{
	padding: 0px;
	line-height: 25px;
}
#list div{
	border-bottom: solid 1.5px #000;
	background:#08F;
}
#list li{
	overflow: hidden;
	border-bottom: solid 1px #555; 
}
#list span{
	float: right;
	width: 90px;
}
.fanye{
	text-align:center;
}
footer{
	text-align:center;
}