.essay_li{
	max-height: 280px;
	overflow: hidden;
	position:relative;
}
.essay_li .after{
	display: block;
	height: 40px;
	width: 200%;
	margin-left: -20px;
	background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1) );;
	position: absolute;
	bottom: 0px;
}
.content p{
	line-height: 29px;
}