
.essay_li{
	padding:11px;
	border:1px outset #000;
}
.essay_li div{
	overflow:hidden;
}
.essay_li .title{
	font-size:30px;
	text-align: center;
}
.essay_li .types,.essay_li .send_time{
	font-size: 12px;
	text-align: center;
}
#type_list,#other{
	width:18%;
	float:right;
	margin:4px;
	background:rgba(255,255,255,0.5);
}
.content p:before{
	content:'　　';
}
.content{
	max-height: 500px;
}