.mk ul,.mk ol{
	margin-left:50px;
	background-color: rgba(0,0,0,0.2);
	border-left: 2px inset #0F0;
	padding-left:20px;
}
.mk ul li{
	list-style-type:disc;
}
.mk ol li{
	list-style-type:decimal;
}
.mk pre{
	background-color: rgba(0,0,0,0.2);
	padding-left:20px;
	overflow: auto;
	line-height: 12px;
}
.mk pre ol{
	margin: 0;
	background-color: rgba(0,0,0,0);
	border-left: 2px none #0F0;
	padding: -1px;
}
.mk pre li{
	margin: 0 -2px;
	padding: 0 10px;
	border-left: 2px inset #0F0;
}
.mk pre li:nth-child(odd){
	background-color: rgba(0,0,0,0.2);
}