<script>
$(function(){
	myScript.marked_langs($('#content'));
	
	suc_u_load(function(suc_u_info){
		var inputdiv=$('#remark');
		if(suc_u_info.u.username){
			inputdiv.innerHTML='<textarea id="remark_input"></textarea><br/><input type="button" value="发布" id="send_remark"/>';
			$('#send_remark').onclick=function(){
				var ajax=$.ajax();
				ajax.page=window.location.href.replace(typeof(sweb_blog_frame)!="undefined"?'/frame/#essay/id/':'/essay/id/','/essay/send_remark/');
				ajax.setCont({
					key:suc_u_info.u.key,
					content:$('#remark_input').value
				});
				ajax.callback=function(ajax){
					if(ajax.text==1) window.location.reload(true)
					else alert(ajax.text);
				}
				ajax.send();
			}
		}else{
			inputdiv.innerHTML='游客游客需要<a href="<?php echo $system->succ->login_page();?>#'+window.location.href+'">　登录（点我登陆）　</a>才能发表评论';
		}
	},<?php echo isset($_POST['suc_js_key'])?$_POST['suc_js_key']:$system->succ->get_js_key();?>);
});
</script>