<style>
	#type{
		overflow: hidden;
	}
	#type div{
		float:left;
	}
</style>
标题<input type="title" value="<?php if(isset($title))echo $title;?>"/>
<div id="in"></div>
<div id="display">
	<span><input type="checkbox" checked="true"/>允许前台查看</span>
	<span><input type="checkbox" value="2"/>锁定</span>
	<span><input type="checkbox" value="4"/>限登陆可见</span>
	<span><input type="checkbox"/>阅读权限限制</span>
</div>
<div id="type">
	<div>
		<select id="unselect_type" size="9">
<?php foreach ($types as $value) {?>
			<option value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>
<?php } ?>
		</select>
	</div>
	<div><input type="button" value=">>" id="add_type"/><br/><input type="button" value="<<" id="remove_type"/></div>
	<div>
		<select id="select_type" size="9"></select>
	</div>
</div>
<div>关键字：星星站点,<input type="text" id="e_keywords" value="<?php if(isset($keywords)) echo $keywords;?>"/><input type="checkbox" id="auto_kewords">自动关键字</div>
<input type="button" value="发布" id="editor_send"/>
<script>
essay_editor=(function(){
	var get_keywords_by_type=function(){
		var types=[];
		var op=$("#select_type option");
		for(var i=0;i<op.length;i++) types.push(op[i].innerHTML);
		return types.toString();
	}
	var update_keywords=function(){
		if($("#auto_kewords").checked){
			$("#e_keywords").value=get_keywords_by_type();
		}
	}
	var input=new myScript.input('in',800,500,{img_url:'<?php echo $system->ini_get('imgs_url');?>'},<?php echo isset($content)?json_encode($content):'""';?>);//创建编辑器
	var tadd=[],tremove=[];//保存分类修改
	var unset=function(arr,nu){//分类修改辅助方法
		update_keywords();
		for(var i in arr){
			if(arr[i]==nu){
				//delete(arr[i]);
				arr.splice(i,1);
				return true;
			}
		}
		return false;
	}
	//增加分类
	$('#add_type').onclick=function(){
		var t=$('#unselect_type');
		var dom=t[t.selectedIndex];
		$.remove(dom);
		$('#select_type').appendChild(dom);
		if(!unset(tremove,dom.value)){
			tadd.push(dom.value);
		}
	}
	//移除分类
	$('#remove_type').onclick=function(){
		var t=$('#select_type');
		var dom=t[t.selectedIndex];
		$.remove(dom);
		$('#unselect_type').appendChild(dom);
		if(!unset(tadd,dom.value)){
			tremove.push(dom.value);
		}
	}
	//
	<?php if(isset($selected_type)){?>
	var selected_type=<?php echo json_encode($selected_type);?>;
	for (var j=0;j<selected_type.length;j++) {
		for (var i = $('#unselect_type').length - 1; i >= 0; i--) {
			if($('#unselect_type')[i].value==selected_type[j].tid){
				var dom=$('#unselect_type')[i];
				$.remove(dom);
				$('#select_type').appendChild(dom);
				break;
			}
		};
	};
	<?php } ?>
	//判断是否开启自动关键字
	if(get_keywords_by_type()==$("#e_keywords").value)$("#auto_kewords").checked=true;
	//控件组
	var info={
		submit_page:'',
		callback:null,
		onsubmit:null
	};
	//提交按钮
	$("#editor_send").onclick=function(){
		var ajax=$.ajax();
		ajax.page=info.submit_page;
		var type_data='';
		ajax.setCont({
			title:$('input')[0].value,
			content:input.get(),
			add_type:tadd.toString(),
			remove_type:tremove.toString(),
			keywords:$("#e_keywords").value,
			key:"<?php echo $_POST['key'];?>"
		});
		ajax.callback=function(ajax){
			info.callback&&info.callback(ajax);
		};
		if(info.onsubmit) if(!info.onsubmit()) return;
		ajax.send();
	}
	return info;//返回控件
})();
</script>