<div>
	<h1>导出文章</h1>
	<p>导出范围
		<form action="<?php echo $system->url_addget('doing','out');?>" method="post" target="d">
			<input type="number" id="out_min" name="min"/>-<input type="number" id="out_max" name="max"/>
			<input type="submit" value="导出" id="out1"/>
		</form>
	<p>
</div>
<div>
	<h1>导入文章</h1>
	<p>
		<form action="<?php echo $system->url_addget('doing','in');?>" method="post" target="d" enctype="multipart/form-data">
			<input type="hedden" name="type" value="clean"/>
			<input type="file" name="in_xml"/>
			<input type="hidden" name="key" value="<?php echo $_POST['key'];?>"/>
			<input type="submit" value="导入（同时清空原数据）"/>
		</form>
	<p>
</div>
<iframe src="" frameborder="0" style="display:no;" name="d"></iframe>