<table>
<tr>
<th>标题</th>
<th>时间</th>
<th>作者</th>
<th>显示方式</th>
<th>编辑</th>
<th>删除</th>
</tr>
<?php foreach($list as $v){ ?>
<tr sid="<?php echo $v['id']; ?>">
<td><?php echo $v['title']; ?></td>
<td><?php echo date('Y-m-d H:i:s',$v['time']);?></td>
<td><?php echo $v['sender']; ?></td>
<td><?php echo essay_server::display($v['display']) ?></td>
<td><a class="e">编辑</a></td>
<td><a class="d">删除</a></td>
</tr>
<?php } ?>
</table>
<?php echo $ye;?>
<script>
//$("#editor_html").innerHTML='';
$('.e').set('onclick',function(){
	//编辑
	var upid=this.parentNode.parentNode.getAttribute('sid');
	myScript.show('<iframe name="up" style="width:99%;height:97%"/>',850,450,'修改文章');
	go(window.location.href+"&getid="+upid,"up");
	$("@up")[0].onload=function(){
		var k=($("@up")[0].window||$("@up")[0].contentWindow).essay_editor;
		k.submit_page=window.location.href+"&upid="+upid;
		k.callback=function(ajax){
			alert(ajax.text);
		}
	}
	
	/*var ajax=$.ajax();
	ajax.page=window.location.href;
	ajax.data='key=<?php echo $_POST['key'];?>&getid='+sid;
	ajax.callback=function(ajax){
		if(ajax.json){
			content.set(ajax.json.content);
			$('#title').value=ajax.json.title;
			var types=ajax.json.types;
			var all_types=$('#unselect_type');
			for (var j in types) {
				for (var i = all_types.length - 1; i >= 0; i--) {
					if(all_types[i].value==types[j].id){
						add_type(i);
						break;
					}
				};
			};
		}
	}
	ajax.send();

	var tadd=[],tremove=[];
	$('#add_type').onclick=function(){
		var s=$("#unselect_type")
		var index=s.selectedIndex;
		if(!unset(tremove,s[index].value)){
			tadd.push(s[index].value)
		}
		add_type(index);
	}
	$('#remove_type').onclick=function(){
		var s=$("#select_type")
		var index=s.selectedIndex;
		if(!unset(tadd,s[index].value)){
			tremove.push(s[index].value)
		}
		remove_type(index);
	}
	//

	$('#ok').onclick=function(){
		var ajax=$.ajax();
		ajax.page=window.location.href;
		ajax.setCont({
			upid:sid,
			title:$('#title').value,
			'content':content.get(),
			add_type:tadd.toString(),
			remove_type:tremove.toString(),
			key:'<?php echo $_POST['key'];?>'
		});
		ajax.callback=function(ajax){
			alert(ajax.text);
		}
		ajax.send();
	}*/
});
$('.d').set('onclick',function(){
	alert('暂时不支持删除');
});
</script>
</body></html>