<div>
	<h1>导出文章</h1>
	<p>导出范围
		<form action="<?php echo $system->url_addget('doing','out');?>" method="post" target="d">
			<input type="number" id="out_min" name="min"/>-<input type="number" id="out_max" name="max"/>
			<input type="submit" value="导出" id="out1">
		</form>
	<p>
</div>
<script>
	/*$('#out1').onclick=function(){
		var ajax=$.ajax()
		ajax.data='';
		if($('#out_min').value!='') ajax.data+='min='+$('#out_min').value;
		if($('#out_max').value!='') ajax.data+='&max='+$('#out_max').value;
		ajax.page='<?php echo $system->url_addget('doing','out');?>';
		ajax.callback=function(ajax){
			alert(ajax.text);
		}
		ajax.send();
	}*/
</script>
<iframe src="" frameborder="0" style="display:no;" name="d"></iframe>