<!DOCTYPE html>
<html>
<head>
<title>admins</title>
<style>
*{
	margin:0;
	padding:0;
}
table{
	width:100%;
	height:100%;
}
#head{
	background:#000;
	overflow:hidden;
}
span{
	margin:10px;
}
#main{
	height:100%;
	width:100%;
	background:#9F9;
}
#opening{
	width:150px;
	height:100%;
	background:#58F;
}
#opening div{
border:5px outset rgba(255,255,255,0.4);
padding:2px;
}
#web *{
	width:100%;
	height:100%;
	float:right;
}
.menu_box{
	background: #FFF;
	position: absolute;
}
.menu_box div{
padding:2px;
border:1px outset #000;
}
p{
	text-align: center;
}
</style>
</head>
<body>
<div></div>
<table>
	<tr id="head" style="bankgroump:#000;">
		<td width="150px"><img src="？"><input type="button" id="flash" value="刷新我的权限"/></td>
		<td style="background:#08F;" id="menu"></td>
	</tr>

	<tr id="main">
		<td><div id="opening"></div></td>
		<td id="web">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p>by星星站点</p>
			<p>2014.09.07</p>
		</td>
	</tr>
</table>
<div style="display:none"><form action="#" method="post" id="gform" target="opiframe"><input type="text" name="key" id="postkey"></form></div>
<script src="<?php echo $system->ini_get('my_script_path');?>"></script>
<?php $system->succ->show_script();?>
<script type="text/javascript">
var iframe=$.set('iframe',$('#web'));
iframe.name='opiframe';
suc_u_load(function(suc_u_info){
var menu=<?php echo json_encode($menus);?>;
//var opening=[];
var now;
var t;
var cd;
function set_menu(arr,dom){
	var i;
	var nd;
	dom.innerHTML='';
	for(i in arr){
		arr[i].is_menu=parseInt(arr[i].is_menu);
		nd=$.set(dom.p?'div':'span',dom);
		nd.innerHTML=arr[i].title+(arr[i].is_menu?'·':'');
		nd.info=arr[i];
		if(arr[i].is_menu){
			set_menu_function(nd);
		}else{
			nd.onclick=function(){
				var t=$.set('div',$('#opening'))
				t.innerHTML=this.innerHTML;
				t.className='opening';
				t.title=this.innerHTML;
				var iframe=$.set('iframe',$('#web'));
				<?php if(isset($postkey)){?>
				var f=$('#gform');
				//alert(f.target);
				$('#postkey').value='<?php echo $postkey;?>';
				f.action=this.info.src;
				f.target='opiframe';
				f.submit();
				iframe.name='';
				<?php }else{?>
				iframe.src=this.info.src;//+'&key='+suc_u_info.u.key;//打开页面
				<?php } ?>
				t.iframe=iframe;
				t.onclick=function(){
					go_to(this);
				}
				t.oncontextmenu=function(ev){//右键标签出菜单
					if(!ev.x) ev.x=ev.clientX;
					if(!ev.y) ev.y=ev.clientY;
					var m=this;
					cd=$.set('div',$('td')[2]);
					cd.style.position='absolute';
					cd.style.top=ev.y+"px";
					cd.style.left=ev.x+'px';
					cd.className='menu_box';
					cd.off=function(){
						$.remove(cd);
						vd=null;
					}
					var off=$.set('div',cd);
					off.innerHTML='关闭标签';
					off.onclick=function(){
						$.remove(m.iframe);
						$.remove(m);
						cd.off();
					}
					var flash=$.set('div',cd);
					flash.innerHTML='取消';
					flash.onclick=function(){
						//m.iframe.window.location.reload();
						cd.off();
					}
					return false;
				}
				go_to(t);
				/*if(now){
					now.iframe.style.display='none';
				}
				now=t;*/
			}
		}
	}
	set_menu_place(dom);
}
function set_menu_place(div,is_f){
	if(!div.p) return;
	if(div.offsetWidth<100){
		div.style.width='100px';
	}
	if(!div.p.parentNode.p){
		div.style.left=div.p.offsetLeft+div.p.parentNode.offsetLeft+'px';
		div.style.top=div.p.offsetTop+div.p.parentNode.offsetTop+div.p.offsetHeight+'px';
		return;
	}
	div.style.left=div.p.offsetLeft+div.p.offsetWidth+div.p.parentNode.offsetLeft+'px';
 	div.style.top=div.p.offsetTop+div.p.parentNode.offsetTop+'px';
	if((div.offsetLeft+div.offsetWidth)>=window.innerWidth){
		div.style.left=div.p.parentNode.offsetLeft-div.offsetWidth+'px';
	}
	if(div.offsetHeight>window.innerHeight){
		div.style.height=window.innerHeight-10+'px';
	}
	var h=div.offsetHeight+div.offsetTop-window.innerHeight;
	if(h>0){
		div.style.top=div.offsetTop-h+'px';
	}	
}
function set_menu_function(dom,is_first){
	dom.onmouseover=function(){
		if(this.div) return;
		this.div=$.set('div',$('div')[0]);
		this.div.p=this;
		this.div.style.background='rgb(255,255,255)';
		//div.style.height='100px';
		this.div.innerHTML='正在获取';
		this.div.className='menu_box';
		this.div.p=this;
			set_menu_place(this.div,1);
		this.div.onmousemove=function(){
			this.p.set_type(1);
		}
		this.div.onmouseout=function(){
			this.p.set_type(0);
		}
		this.set_type=function(type){
			this.now_type=type;
			if(this.parentNode.p){
				this.parentNode.pset_type(type);
			}
		}
		get_list(this.info.src,(function(div){
			return function(arr){//获取并挂载菜单
				set_menu(arr,div);
			};
		})(this.div));
	}
	dom.onmouseout=function(){
		if(this.div&&!this.now_type){
			setTimeout((function(dom){
				return function(){
					if(dom.try_off)return;
					dom.try_off=1;
					if(dom.now_type){
						dom.try_off=0;
						return;
					}
					dom.off();
				}
			})(this),5);
		}
	}
	dom.off=function(){
		$.remove(this.div);
		this.div=false;
	}
	dom.onclick=function(e){
		if(window.event){
			window.event.cancelBubble = true;
		}else{
			e.stopPropagation();
		}
	}
}
set_menu(menu,$('#menu'));
function go_to(dom){
	if(now){
		now.iframe.style.display='none';
		now.style.background='';
	}
	dom.iframe.style.display='';
	now=dom;
	now.style.background='rgba(255,255,255,0.5)';
}
function get_list(page,call_back){
	var ajax=$.ajax();
	ajax.page=page;
	ajax.data='key='+suc_u_info.u.key;
	ajax.callback=function(ajax){
		if(ajax.json){
			call_back(ajax.json.list);
		}else{
			myScript.show(ajax.text);
		}
	}
	ajax.send();
}
$('table')[0].style.height=window.innerHeight+'px';
function off_all_menu(){
	var menu_p=$('div')[0];
	var menu;
	while(menu=menu_p.childNodes[0]){
		$.remove(menu);
	};
	var menu_p=$('#menu');
	var menu;
	for(var i=0;menu=menu_p.childNodes[i];i++){
		menu.div=false;
	};
}
window.onresize=function(){
	$('table')[0].style.height=window.innerHeight+'px';
	off_all_menu();
}
document.onclick=function(){
	if(cd) cd.off();
	off_all_menu();
}
$('#flash').onclick=function(){
	var ajax=$.ajax();
	ajax.page='<?php echo URLROOT;?>myadmin/flash';
	ajax.data='key='+suc_u_info.u.key;
	ajax.callback=function(ajax){
		window.location.reload(true);
	}
	ajax.send();
}
},<?php echo $system->succ->get_js_key();?>);
</script>
</body>
</html>