<table>
	<tr>
		<th>分类id</th>
		<th>分类名称</th>
		<th>父分类id</th>
		<th>父分类名称</th>
	</tr>
	<tr>
		<td>0</td>
		<td><a href="<?php echo $system->url_addget('tid',0,$surl);?>">root</a></td>
		<td></td>
		<td></td>
	</tr>
<?php foreach ($list as $v) {?>
	<tr>
		<td><?php echo $v['id'];?></td>
		<td><a href="<?php echo $system->url_addget('tid',$v['id'],$surl);?>"><?php echo $v['name'];?></a></td>
		<td><?php echo $v['p_id'];?></td>
		<td><?php echo $v['p_name'];?></td>
	</tr>
<?php } ?>
	<tr>
		<td></td>
		<td><input type="text" id="name"/></td>
		<td>
			<select id="pid">
				<option value="0">/</option>
<?php foreach($list as $v){ ?>
			<option value="<?php echo $v['id'];?>"><?php echo $v['name'];?></option>
<?php } ?>
			</select>
		</td>
		<td><input type="button" value="添加" id="add"></td>
	</tr>
</table>
<script>
	$('#add').onclick=function(){
		if($('#name').value){
			var ajax=$.ajax();
			ajax.page='<?php echo $system->url_addget('doing','add');?>';
			ajax.setCont({
				name:$('#name').value,
				pid:$('#pid').value
			});
			ajax.callback=function(ajax){
				if(ajax.json&&ajax.json.isok){
					window.location.reload(true);
				}else{
					myscript.show(ajax.text);
				}
			}
			ajax.send();
		}else{
			alert('请输入分类名');
		}
	}
</script>