<a href="<?php echo $system->url_addget('doing','');?>">返回列表</a>
<h1><?php echo $info['name']?></h1>
<div>
	父分类:
	<select id="pid">
		<option value="0">/</option>
<?php if($info['id']) foreach($plist as $v){ if($v['id']==$info['pid']) continue;?>
		<option value="<?php echo $v['id']; if($v['id']==$info['pid']){?>" selected="true<?php }?>"><?php echo $v['name'];?></option>
<?php } ?>
	</select>
</div>
<textarea id="" cols="50" rows="5" value="<?php echo $info['info'];?>"><?php echo $info['info'];?></textarea>
<input type="button" value="更新简介"/>
<br/>
<?php if(isset($nu))echo '此分类下共有<a href="',URLROOT,'type/id/',$_GET['tid'],'/1" target="_blank">',$nu,'</a>篇文章';?>
<br/>
子分类：
<table>
	<tr>
		<th>分类id</th>
		<th>分类名称</th>
	</tr>
<?php foreach ($clist as $v) {?>
	<tr>
		<td><?php echo $v['id'];?></td>
		<td><a href="<?php echo $system->url_addget('tid',$v['id']);?>"><?php echo $v['name'];?></a></td>
	</tr>
<?php } ?>
</table>
<input type="button" value="删除本分类" id="delete"/>(请谨慎使用此功能) <br/>
删除会使所有子分类移至根分类
<script>
	$('#delete').onclick=function(){
		var ajax=$.ajax();
		ajax.page='<?php echo $system->url_addget('doing','delete');?>';
		ajax.callback=function(){
			window.location.href='<?php echo $system->url_addget('doing','');?>'
		}
		ajax.send();
	}
</script>