<?php
$dh_list=$this->load_plugin_php('dh_init',array(
array('首页',URLROOT),
array('文章列表',URLROOT.'essay/list/1'),
array('分类列表',URLROOT.'type/list/1')
));
?>
<div id="dh"><div>
	<?php foreach($dh_list as $v){ ?>
	<a href="<?php echo $v[1];?>" <?php if(isset($v[2])) echo 'target="_blank"';?>><?php echo $v[0];?></a>	<?php } ?>
	</div>
</div>
<script>
	(function(){
		var dom=$("#dh"),down=false,time=false,h=0;
		$("#h").onclick=function(){
			down=!down;//alert(dom.firstChild);
			to();
		}
		var to=function(){
			if(time) return;
			var fun=function(){
				document.body.scrollTop=0;
				time=true;
				if(down){
					h+=5;
					if(h>dom.firstChild.offsetHeight){
						dom.style.height=(h=dom.firstChild.offsetHeight)+"px";
						time=false;
						return;
					}
				}else{
					h-=5;
					if(h<0){
						dom.style.height=h=0;
						time=false;
						return;
					}
				}
				dom.style.height=h+"px";
				requestAnimationFrame(fun);
			}
			fun();
		}

		//鼠标滚动方式打开导航
		document.addEventListener("mousewheel", function(event) {
			if(event.deltaY<0&&document.body.scrollTop==0){
				down=true;
				to();
				return;
			}
			if(event.deltaY>0&&down){
				document.body.scrollTop=0;
				down=false;
				to();
				return false;
			}
		});
		

		//触屏操作
		var tempY=false,tempY2;
		document.addEventListener("touchstart", function(event) {
		if(document.body.scrollTop!=0)return;
			tempY2=tempY=event.touches[0].clientY;
		});
		document.addEventListener("touchmove",function(event){
			tempY2=event.touches[0].clientY;
			if(down){
				document.body.scrollTop=0;
				event.preventDefault();
				return false;
			}
		});
		document.addEventListener("touchend", function(event) {
			if(!tempY) return;
			if(down){
				document.body.scrollTop=0;
				if(tempY2-tempY<-50){
					down=false;
					to();
				}
			}else{
				if(tempY2-tempY>50){
					down=true;
					to();
				}
			}
			tempY=false;
		});
	})();
	

</script>