<?php
$dh_list=$this->load_plugin_php('dh_init',array(
array('首页',URLROOT),
array('文章列表',URLROOT.'essay/list/1'),
array('分类列表',URLROOT.'type/list/1')
));
?>
<div id="dh"><div>
	<?php foreach($dh_list as $v){ ?>
	<a href="<?php echo $v[1];?>" <?php if(isset($v[2])) echo 'target="_blank"';?>><?php echo $v[0];?></a>	<?php } ?>
	</div>
</div>
<script>
	(function(){
		var dom=$("#dh"),down=false,time=false,h=0;
		$("#h").onclick=function(){
			down=!down;//alert(dom.firstChild);
			to();
		}
		var to=function(){
			if(time) return;
			var fun=function(){
				document.body.scrollTop=0;
				time=true;
				if(down){
					h+=5;
					if(h>dom.firstChild.offsetHeight){
						dom.style.height=(h=dom.firstChild.offsetHeight)+"px";
						time=false;
						return;
					}
				}else{
					h-=5;
					if(h<0){
						dom.style.height=h=0;
						time=false;
						return;
					}
				}
				dom.style.height=h+"px";
				requestAnimationFrame(fun);
			}
			fun()
		}
		document.addEventListener("mousewheel", function(event) {
			if(event.deltaY<0&&document.body.scrollTop==0){
				down=true;
				to();
			}else if(down){
				document.body.scrollTop=0;
				down=false;
				to();
				return false;
			}
		});
	})();
</script>