<link rel="stylesheet" type="text/css" href="<?php echo $system->ini_get('styles_url');?>essay.css"></link>
<link rel="stylesheet" type="text/css" href="<?php echo $system->ini_get('styles_url');?>mk.css"/>
<div class="left">
	<div class="left_div">
		<div class="h"><span><a href="<?php echo URLROOT;?>essay_list">返回文章列表</a></span></div>
		<div id="body" class="block">
			<br/>
			<div id="title"><?php echo $essay['title'];?></div>
			<br/>
			<div id="time">发布时间:<?php echo date('Y-m-d H:i:s',$essay['time']);?></div>
			<div id="types">
<?php foreach($types as $t){?>
			<a href="<?php echo URLROOT,'type/id/',$t['id'];?>/1"><?php echo $t['name'];?></a>
<?php }?>
			</div>
			<br/><br/><br/>
			<div id="content" class="mk"><?php echo $essay['content_marked'];?></div>
		</div>
	</div>
	<div  class="block">
		<ul id="remarks">
		<?php if($remarks){foreach($remarks as $v){?>
	<li><?php echo $system->succ->head_html($v['uid']),date('Y-m-d H:i:s',$v['time']);?>：<?php echo $v['content'];?></li>
		<?php }}else{?>
		还没有评论
		<?php } ?>
		<ul>
	</div>
	<div class="block" id="remark">
		登录后才能评论哦
	</div>
</div>
<?php require $system->get_view('script/essay.script',false);?>