<!DOCTYPE html>
<html>
<head>
<title><?php echo $title;?></title>
<script type="text/javascript">function sue_bgm_player(){window.location.href='http://<?php echo $_SERVER['HTTP_HOST'].URLROOT; ?>frame/#'+window.location.href.replace('http://<?php echo $_SERVER['HTTP_HOST'].URLROOT; ?>','');}</script>
<script src="<?php echo $this->ini_get('my_script_path');?>"></script>
<link rel="stylesheet" href="<?php echo $this->ini_get('styles_url');?>all.css">
<link rel="stylesheet" href="<?php echo $this->ini_get('styles_url');?>bgm_player.css">
<meta name="keywords" content="星星站点,<?php echo $keyword;?>" />
<meta charset="UTF-8"/>
</head>
<body>
<div id="h">
	<div>你好<span id="user">获取登录信息中</span></div>
</div>
<br/><br/>
<?php require $this->get_view('dh');?>
<div id="main">