<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><?php echo $title;?> 手机版</title>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->ini_get('styles_url');?>all_phone.css"/>
	<script src="<?php echo $this->ini_get('my_script_path');?>"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
	<div id="h"><a href="<?php echo URLROOT;?>">星星站点博客</a></div>
	<?php $this->succ->show_script();?>
