<link rel="stylesheet" type="text/css" href="<?php echo $system->ini_get('styles_url');?>index_phone.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo $system->ini_get('styles_url');?>mk.css"/>
	<div>
	<?php if($essay_list) foreach($essay_list as $v){ ?>
		<a href="<?php echo URLROOT,'essay/id/',$v['id'];?>" style="display:block;">
		<div class="block essay_li">
			<h1 class="title"><?php echo $v['title'];?></h1>
			<div><?php echo date('Y-m-d H:i:s',$v['time']);?></div>
			<div class="content mk"><?php echo $v['content_marked'];?></div>
			<div class="after"></div>
		</div>
		</a>
	<?php }else{ ?>
		暂无文章
	<?php } ?>
	</div>
<?php require $system->get_view('script/index.script',false);?>